# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.php text
*.js text
*.jsx text
*.json text
*.css text
*.html text
*.md text
*.sql text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
